<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update user</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="update-user-container">
        <form action="/update-user" method="POST">
            <div>
                <label>Student Name:</label>
                <input name="student_name" value="<%= dataUser.student_name %>" />
            </div>
            <div>
                <label>Age:</label>
                <input name="age" value="<%= dataUser.age %>" />
            </div>
            <div>
                <label>Class</label>
                <select name="class_id" >
                    <% for(let i = 0; i < classes.length; i++){ %>
                        <% if (dataUser.class_id === classes[i].class_id) { %>
                              <option value="<%= classes[i].class_id %>" selected><%= classes[i].class_name %></option>
                        <% } else { %>
                            <option value="<%= classes[i].class_id %>"><%= classes[i].class_name %></option>
                        <% } %>
                    <% } %>
                </select>
            </div>
            <input type="text" value="<%= dataUser.student_id %>" hidden name="student_id" />
            <div>
                <button class="btn-save" type="submit">Save</button>
            </div>

        </form>
    </div>

</body>

</html>